<div class="description" align="center">
  <h1><%= @sequence.title %></h1>
  <ul style="list-style: none;">
    <li>Difficulty Rating: <%= @sequence.difficulty %></li>
    <li>Sequence description:</li>
  </ul>


  <h2> For <%= @sequence.repititions %> rounds, repeat the following sequence of poses:
    <% @sequence.poses.each.with_index do |pose, i| %>
      <h3><%= i + 1 %>. <%= pose.name %> - <%= pose.description %></h3>
    <% end %>
  </h2>
</div>

<div class="edit" align="center">
  <%= link_to "Edit or add poses to the sequence", new_sequence_pose_path(@sequence) %>
</div>

<br />
<div class="comments" align="center">
  <%= form_for ([@sequence, @sequence.comments.build]) do |f| %>
    <%= f.label :content, "Leave a commment" %><br /><br />
    <%= f.text_area :content %><br />
    <%= f.submit %>
  <% end %>

  <br />
  <% @sequence.comments.each do |f| %>
  <h4><%= current_user.username %> says: <%= f.content %></h4>
  <h5><%= f.created_at %></h5>
  <% end %>
</div>
