
<head>
  <div class="description" align="center">
    <h1 id="sequence-title"></h1>
    <a href="#" class="js-next" data-id="">Next Sequence</a>
    <h4 id="sequence-difficulty"></h4>
  </div>
</head>

<body>
  <div id="pose_sequence" style="text-align: center">
    <h2 id="repititions"></h2>
    <div id="poses">
    </div>
  </div>

  <br />
  <div class="edit" align="center">
    <%= link_to "Edit poses", edit_sequence_path(@sequence) %>
  </div>

  <div class="new" align="center">
    <%= link_to "Add a new pose", new_sequence_pose_path(@sequence) %>
  </div>

  <br />
  <div class="comments" align="center">
    <%= form_for ([@sequence, @sequence.comments.build]) do |f| %>
      <%= f.label :content, "Leave a commment" %><br /><br />
      <%= f.text_area :content %><br />
      <%= f.submit %>
    <% end %>

    <br />
    <% @sequence.comments.each do |f| %>
      <% if f.content != nil %>
        <h4><%= f.user.username %> says: <%= f.content %></h4>
        <h5><%= f.created_at.strftime("%A, %d %b %Y %l:%M %p") %></h5>
      <% end %>
    <% end %>
  </div>
</body>
