<div class="sequenceInfo">
  <div id="sequenceTitle"></div>
  <div id="nextSequence"><a href="#" class="js-next" data-id="">Next Sequence</a></div>
  <div id="sequence-difficulty"></div>
</div>

<div id="pose_sequence" style="text-align: center">
  <div id="repititions"></div>
  <div id="poses"></div>
</div>

<div class="addEditPoses">
  <div class="newPose">
    <%= link_to "Add a new pose", new_sequence_pose_path(@sequence), class: 'linkText' %>
  </div>
  <div class="editPost">
    <%= link_to "Edit poses", edit_sequence_path(@sequence), class: 'linkText' %>
  </div>
</div>

<div class="comments">
  <div id="commentForm">
    <%= form_for ([@sequence, @sequence.comments.build]), html: {:class => 'comment_form'} do |f| %>
      <%= f.label :content, "Leave a commment" %><br /><br />
      <%= f.text_area :content, class: 'comment_form' %><br />
      <%= f.submit %>
    <% end %>
  </div>
  <div id="display_comments"></div>
</div>
