<%= form_for(@sequence) do |f| %>
  <%= f.fields_for :poses do |pose_builder| %>
      Edit pose:
      <%= pose_builder.label :name %>
      <%= pose_builder.text_field :name%>
      <%= pose_builder.label :description %>
      <%= pose_builder.text_field :description %><br />
  <% end %>
  <%= f.label :repititions %>
  <%= f.select :repititions, options_for_select(1..10), :prompt => 'Select number of repitions' %>

  <h1>or Add new poses</h1>
  <%= f.fields_for :poses do |pose_builder| %>
      <%= f.label :add_pose_to_this_sequence %>
      <%= select_tag 'sequence[pose_ids][]', options_from_collection_for_select(@poses, "id", "name"), { :prompt => 'Select a pose'} %>
      or create a new pose:
      <%= pose_builder.label :name %>
      <%= pose_builder.text_field :name%>
      <%= pose_builder.label :description %>
      <%= pose_builder.text_field :description %><br />
  <% end %>
  <%= f.submit %>
<% end %>
