<div class="new-sequence">
  <%= form_for @sequence, url: sequence_poses_path(@sequence) do |f| %>
    <%= f.fields_for @pose do |pose_builder| %>
        <%= f.label :add_pose_to_this_sequence %>
        <%= select_tag 'sequence[pose_ids][]', options_from_collection_for_select(@poses.sort_by {|pose| pose.name}, "id", "name"), { :prompt => 'Select a pose'} %>
        or create a new pose:
        <%= pose_builder.label :name %>
        <%= pose_builder.text_field :name %>
        <%= pose_builder.label :description %>
        <%= pose_builder.text_field :description %><br />
    <% end %>
    <%= f.submit 'update' %>
  <% end %>
</div>
