<div class="chakras">
  <div id="chakraIcons">
    <div class="row">
      <div class="col-lg-12">
        <%= image_tag('chakras/6th-chakra.png', :class => "chakraIcon", :id => "purple")  %>
      </div>
      <div class="col-lg-12">
        <%= image_tag('chakras/5th-chakra.png', :class => "chakraIcon", :id => "blue")  %>
      </div>
      <div class="col-lg-12">
        <%= image_tag('chakras/4th-chakra.png', :class => "chakraIcon", :id => "green")  %>
      </div>
      <div class="col-lg-12">
        <%= image_tag('chakras/3rd-chakra.png', :class => "chakraIcon", :id => "yellow")  %>
      </div>
      <div class="col-lg-12">
        <%= image_tag('chakras/2nd-chakra.png', :class => "chakraIcon", :id => "orange")  %>
      </div>
      <div class="col-lg-12">
        <%= image_tag('chakras/1st-chakra.png', :class => "chakraIcon", :id => "red")  %>
      </div>
    </div>
  </div>
</div>
