<%= form_for(@sequence) do |f| %>
  <h3>
  <%= f.label :title %><br />
  <%= f.text_field :title %><br />
  <br />
  Number of Poses:<br />
  <%= f.select :number_of_poses, options_for_select(0..50)%><br />
  <br />
  Difficulty:<br />
  <%= f.select :difficulty, options_for_select(1..5) %>
  <br />
  <br />
  <%= f.submit %>
  </h3>

<% end %>
