<%= form_for(@sequence) do |f| %>
  <%= form_errors_for @sequence %>
  <h3>
    <div class="field_with_errors">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>
  </h3>

  <br /><br />

    <div class="difficulty fields_with_errors">
      <h3><%= f.label :difficulty %></h3>
      <h5>1-5 scale, 1 = easiest, 5 = hardest </h5>
      <%= f.select :difficulty, options_for_select(1..5), :prompt => 'Select a level of difficulty' %>
    </div>

  <br /><br />

  <div class="pose_builder fields_with_errors">
    <%= f.fields_for :poses do |pose_builder| %>
        <%= f.label :add_pose_to_this_sequence %>
        <%= select_tag 'sequence[pose_ids][]', options_from_collection_for_select(@poses.sort_by {|pose| pose.name}, "id", "name"), {:prompt => 'Select a pose'} %>
        or create a new pose:
        <%= pose_builder.label :name %>
        <%= pose_builder.text_field :name %>
        <%= pose_builder.label :description %>
        <%= pose_builder.text_field :description %><br />
    <% end %>
  </div>

  <br />

  <div class="repititions fields_with_errors">
    <%= f.label :repititions %>
    <%= f.select :repititions, options_for_select(1..10), :prompt => 'Select number of repitions' %>
  </div>

  <br /><br />

  <%= f.submit %>
<% end %>
