<%= render "layouts/go_back" %>

<div class="description" align="center">
  <h1><%= @sequence.title %></h1>
  <ul style="list-style: none;">
    <li>Difficulty Rating: <%= @sequence.difficulty %></li>
  </ul>

  <h2> For <%= @sequence.repititions %> rounds, repeat the following sequence of poses:
    <% @sequence.poses.each.with_index do |pose, i| %>
      <h3><%= i + 1 %>. <%= pose.name %> - <%= pose.description %></h3>
    <% end %>
  </h2>
</div>
